.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/** Navbar **/
.header{
  margin-bottom:2em!important;
  .navbar-nav{
    .userAvatar{
      padding: 10px; 
      img{
        width: 30px; 
      }
    }
  }
}

/** Body **/
.content-body{
  .card{
    margin-bottom: 2em;
  }

  /** Emote Submission **/
  .submission-wrapper{
    .card-body{
      color:white;
      font-weight: 500;
      font-size: initial;
      text-transform: uppercase;
    }
  }

  .react-bootstrap-table table {
    table-layout: auto;
  }
}

/** Dropzone area styles **/
.dropzone-area{
  margin-top: 1.5em;
  .dzu-dropzone{
    border: 2px dashed #dedede;
    border-radius: 5px;
    text-align:center;
    overflow: inherit;
    .dzu-inputLabel{
      color:white;
      text-transform: none;
    }
    .dzu-previewContainer{
      padding: 1em 3%;
      background-color: #444;
    }
    .dzu-previewButton{
      color:white;
      background-image: url('../images/x-icon.png')!important;
      background-repeat: no-repeat;
    }
  }
}


.modal-dialog{
  .modalDelete{
    margin-right: auto;
  }
}